---
networks:
  kafka_network:
    driver: bridge
    name: cp-kafka
services:
  consumer:
    build:
      args:
        - KAFKA_BROKER=${KAFKA_BROKER}
        - KAFKA_TOPIC=${KAFKA_TOPIC}
      context: .
    command: ["poetry", "run", "python", "main_consumer.py"]
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      KAFKA_BROKER: ${KAFKA_BROKER}
      KAFKA_TOPIC: ${KAFKA_TOPIC}
      KAFKA_GROUP: ${KAFKA_GROUP}
    networks:
      - kafka_network
    volumes:
      - ./mempool:/app/mempool
  kafdrop:
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      JVM_OPTS: '-Xms32M -Xmx64M'
      KAFKA_BROKERCONNECT: kafka:9093
      SERVER_SERVLET_CONTEXTPATH: /
    hostname: kafdrop-kafka-ui
    image: obsidiandynamics/kafdrop
    networks:
      - kafka_network
    ports:
      - '9007:9000'
    restart: 'no'
  kafka:
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: DOCKER_NET://kafka:9093,HOST_NET://localhost:9092
      KAFKA_BROKER_ID: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER_NET
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_JMX_PORT: 9101
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: DOCKER_NET:PLAINTEXT,HOST_NET:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    expose:
      - 9093
    healthcheck:
      interval: 30s
      retries: 5
      test: ["CMD", "kafka-topics", "--list", "--bootstrap-server", "localhost:9093"]
      timeout: 10s
    hostname: cp-kafka
    image: confluentinc/cp-kafka:7.0.1
    networks:
      - kafka_network
    ports:
      - '9092:9092'
      - '29092:29092'
  producer:
    build:
      args:
        - KAFKA_BROKER=${KAFKA_BROKER}
        - KAFKA_TOPIC=${KAFKA_TOPIC}
        - WSS_URL=${WSS_URL}
      context: .
    command: ["poetry", "run", "python", "main_producer.py"]
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      KAFKA_BROKER: ${KAFKA_BROKER}
      KAFKA_TOPIC: ${KAFKA_TOPIC}
      WSS_URL: ${WSS_URL}
    networks:
      - kafka_network
    volumes:
      - ./mempool:/app/mempool
  zookeeper:
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    hostname: cp-zookeeper
    image: confluentinc/cp-zookeeper:latest
    networks:
      - kafka_network